.App {
  max-width: 960px;
  display: flex;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}

.day-week {
  background-color: pink;
  margin: 0;
  padding: 10px 0;
}

.task-list {
  border: 1px solid black;
}

.task {
  padding: 10px 40px;
  border-bottom: 1px solid pink;
  text-align: center;
}

.task:hover {
  background-color: beige;
}

.task p {
  margin: 0;
  padding-bottom: 10px;
}